* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background: rgb(129, 129, 252);
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result {
    font-size: 20px;
}

label {
    font-size: 20px;
}

input {
    padding: 15px;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 45px;
    background: rgb(129, 129, 252);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    min-width: 100px;
}

.quadra-equation {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.content {
    padding: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input {
    position: relative;
    width: 100%;
}

.input > input {
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    outline: none;
    display: block;
    width: 100%;
}

input:focus {
    border-color: rgb(129, 129, 252);
}

input:not(:placeholder-shown) + label, input:focus + label {
    top: -10px;
    color: rgb(129, 129, 252);
}


.input > label {
    position: absolute;
    left: 20px;
    top: 16px;
    color: #999;
    user-select: none;
    pointer-events: none;
    padding: 0 10px;
    background: #fff;
    transition: all .2s ease-in-out;
}